<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Error"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

	<!-- enable asp.net core layout renderers -->
	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>

	<!-- the targets to write to -->
	<targets async ="true">
		<target xsi:type="File"
			name="file-debug"
			fileName="${basedir}/logs/Debug.${shortdate}.log"
			layout="${longdate}|${level:uppercase=true}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}:${message}"
			archiveFileName="${basedir}/logs/archives/Debug.${shortdate}.log"
			archiveAboveSize="1048576"
			archiveEvery="Day"
			archiveNumbering = "Rolling"
			maxArchiveFiles="7"
			concurrentWrites="false"
		/>
		<target xsi:type="File"
				name="file-error"
				fileName="${basedir}/logs/Error.${shortdate}.log"
				layout="${longdate}|${level:uppercase=true}|${logger}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}|${message} ${exception:format=Message,StackTrace} ${stacktrace}"
				archiveFileName="${basedir}/logs/archives/error.${shortdate}.log"
				archiveAboveSize="1048576"
				archiveEvery="Day"
				archiveNumbering = "Rolling"
				maxArchiveFiles="30"
				concurrentWrites="false"
			/>
	</targets>

	<!-- rules to map from logger name to target -->
	<rules>
		<logger name="*.NLogHelper" level="Debug" writeTo="file-debug"/>
		<logger name="*" minlevel="Error" writeTo="file-error" />
	</rules>
</nlog>